<%-include('header.ejs')%>

<div class="container mt-5">
        <h2 class="text-center text-danger mb-4">Xรณa Nhรขn Viรชn</h2>
        
        <a href="/" class="mb-3 col-3" style="text-decoration: none;">โฌ Trแป vแป</a>

        <form action="delete" method="post">
            <div class="mb-3">
                <label for="name" class="form-label fw-bold">Tรชn nhรขn viรชn cแบงn xรณa:</label>
                <input type="text" name="name" class="form-control" placeholder="Nhแบญp tรชn nhรขn viรชn" required>
            </div>
            <button type="submit" class="btn btn-danger">๐ Xรณa</button>
        </form>
</div>
<%-include('footer.ejs') %>

