<%-include('header.ejs')%>
<div class="container mt-5">
        <h2 class="text-center text-primary mb-4">Tìm nhân viên</h2>
        
        <a href="/" class="mb-3 col-3" style="text-decoration: none;">⬅ Trở về</a>

        <form action="/find" method="post">
            <div class="mb-3">
                <label for="name" class="form-label fw-bold">Tên nhân viên cần tìm:</label>
                <input type="text" name="name" class="form-control" placeholder="Nhập tên nhân viên" required>
            </div>
            <button type="submit" class="btn btn-primary">Tìm</button>
        </form>
</div>
<%-include('footer.ejs') %>

