<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Company</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
          Quản lý nhân viên
        </div>
        <div class="list-group list-group-flush">
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="/"
            >Trang chủ</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="/list"
            >Xem danh sách nhân viên</a
          >
          <a
            class="list-group-item list-group-item-action list-group-item-light p-3"
            href="/find"
            >Tìm nhân viên</a
          > 
        </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
        >
          <div class="container-fluid">
            <button class="btn btn-outline-dark" id="sidebarToggle">♡</button>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <% if (locals.user) { %>
                <li class="nav-item">
                  <a href="/logout" class="btn btn-danger" id="logout"
                    >Logout</a
                  >
                </li>
                <% } else { %>
                <li class="nav-item">
                  <a href="/login" class="btn btn-primary me-3">Login</a>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
          <script>
            document
              .getElementById('logout')
              .addEventListener('click', function (e) {
                e.preventDefault();
                fetch('/logout', { method: 'POST' }) // Gửi request logout
                  .then(() => (window.location.href = '/logout')) // Chuyển hướng sau khi logout
                  .catch((err) => console.error(err));
              });
          </script>
        </nav>
